/* Styling for the overlay container */
.errormessage-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; /* Stack elements on top of each other */
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 5, 125, 0.616); /* Semi-transparent black background */
    z-index: 9999; /* Higher z-index to ensure it appears in front of everything else */
    border-radius: 2%;
    border: solid 2px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.errormessage-text {
    font-size: 200%;
    font-weight: bolder;
    color: white;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 10px;
}

.errormessage-text + .errormessage-text {
    margin-top: 10px; /* Add vertical space between the two h2 elements */
  }

.content-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}