.header {
  position: sticky;
  top: 0;
}

.headerDiv {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align children to the left and right */
  height: 4em;
  padding: 25px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.picture {
  min-width: 3em;
  max-height: 3em;
}



#headerButtonContainer{
  
}
