/* Styling for the product container */
.product {
  display: flex;
  flex-direction: column;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #530a80b6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  
  /* Styling for the product image */
  .product .image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Styling for the product information */
  .product .info {
    font-family:'Raleway', sans-serif;    
    font-size: 25px;
    line-height: 1.4;
  }
  
  /* Example styles for specific information within the product info */
  .product .info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product .info p {
    margin-bottom: 15px;
  }

  .product button {
    align-self: flex-end;
  }
  
